<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sde.android.yatv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".YetAnotherTouchVisualizerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TouchVisualizerSingleTouchGraphicActivity" >
        </activity>
        <activity android:name=".TouchVisualizerMultiTouchGraphicActivity" >
        </activity>
        <activity android:name=".TouchVisualizeMultiTouchHistoricActivity" >
        </activity>
        <activity android:name=".TouchVisualizerSingleTouchDialogActivity" >
        </activity>
        <activity android:name=".TouchVisualizerTouchGraphicConfigActivity" >
        </activity>
        <activity android:name=".TouchVisualizerTouchHistoricConfigActivity" >
        </activity>
        <activity android:name=".TouchVisualizerTouchDialogConfigActivity" >
        </activity>
        <activity android:name=".TouchVisualizerViewGroupActivity" >
        </activity>
        <activity android:name=".TouchVisualizerViewGroupConfigActivity" >
        </activity>
    </application>

</manifest>